<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogFile="${basedir}\Log\internal_nlog\internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDirectory" value="${basedir}\Log"/>
  <variable name="logLayout" value="${longdate} [${uppercase:${level}}] ${message} ${newline}${exception:format=tostring} ${newline}"/>
  <targets>
    <target xsi:type="File" name="AllLog" fileName="${logDirectory}\All\${shortdate}.log"
            layout="${logLayout}" />
    <target xsi:type="File" name="MSLog" fileName="${logDirectory}\MS\${shortdate}.log"
            layout="${logLayout}" />
    <target xsi:type="File" name="TraceLog" fileName="${logDirectory}\Trace\${shortdate}.log"
            layout="${logLayout}" />
    <target xsi:type="File" name="DebugLog" fileName="${logDirectory}\Debug\${shortdate}.log"
            layout="${logLayout}" />
    <target xsi:type="File" name="ErrorLog" fileName="${logDirectory}\Error\${shortdate}.log"
            layout="${logLayout}" />

    <target xsi:type="Console" name="lifetimeConsole"
            layout="${date} [${uppercase:${level}}] ${message} ${newline}${exception}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" minlevel="Info" writeTo="MSLog" final="true" />
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="AllLog" />
    <logger name="*" levels="Debug" writeTo="DebugLog" />
    <logger name="*" levels="Trace" writeTo="TraceLog" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorLog" />
  </rules>
</nlog>
